<div style="clear: both"></div>
<div class="newrecipe panel panel-default" style="max-width: 700px;">
  <div class="panel-heading">
    <h4>Новый рецепт</h4>
  </div>
  
  <div class="panel-body">
      <div class="input-group">
        <input 
        [(ngModel)] = "recipe_in_progress.title"
          type="text"
          class="form-control"
          placeholder="Название рецепта"
          name="title"/>
      </div>
      <div class="input-group">
        <textarea 
          [(ngModel)] = "recipe_in_progress.description"
          rows="5"
          class="form-control"
          placeholder="Описание"
          name="description">
        </textarea>
      </div>
      <div class="input-group">
        <input 
          type="text"
          [(ngModel)] = "recipe_in_progress.feeds_this_many"
          class="form-control"
          placeholder="На сколько человек"
          name="feeds_this_many"/>
        <span class="input-group-addon">человек</span>
      </div>
      <div class="input-group">
        <input 
          type="text"
          [(ngModel)] = "recipe_in_progress.preporation_time"
          class="form-control"
          placeholder="Время приготовления"
          name="preporation_time"/>
        <span class="input-group-addon">минут</span>
      </div>
      <!-- Ingredients -->
      <div class="form-group">
          <label>Состав</label>
          <div class="ingredient" *ngFor="let ingredient of recipe_in_progress.ingredients; let i = index;">
            <input style="width: 40%;" type="text" [(ngModel)]="recipe_in_progress.ingredients[i].ingredient" placeholder="Ингредиент"/>
            <input style="width: 40%;" type="text" [(ngModel)]="recipe_in_progress.ingredients[i].measure" placeholder="Количество"/>
            <a (click)="removeIngredientAtIndex()" style="cursor: pointer;">Удалить</a>
          </div>
          <div class="add-ingredient">
            <input type="button" value="Добавить" (click)="addIngredientPressed(i)" style="width: 80px;"/>
          </div>
      </div>

      <!-- Instructions -->
      <div class="form-group">
        <label>Рецепт</label>
        <div class="instruction" *ngFor="let instruction of recipe_in_progress.instructions; let i = index;">
          <input style="width: 40%;" type="text" [(ngModel)]="recipe_in_progress.instructions[i].instruction" placeholder="Что сделать"/>
          <a (click)="removeInstructionAtIndex()" style="cursor: pointer;">Удалить</a>
        </div>
        <div class="add-instruction">
          <input type="button" value="Добавить" (click)="addInstructionPressed(i)" style="width: 80px;"/>
        </div>
    </div>

      <div class="input-group">
        <input type="button" value="Добавить рецепт" (click) ="addRecipePressed()"/>
      </div>
    </div>
</div>