<div style="float: right; padding: 5px;">
  <input
    type="button"
    value="Новый рецепт"
    (click)="addRecipePressed()"
  />
</div>
<h1>Рецепты</h1>
<p *ngIf="!recipe_loaded" style="color: brown">
    Loading recipes, please wait a moment...
</p>
<p *ngIf="recipe_loaded && (!recipes || !recipes.length)">
  There are no recipes ... 
</p>
<app-recipe-summary 
  *ngFor="let recipe of recipes" 
  [recipe]="recipe"
  (zoomIn) = "zoomInOutRecipe(recipe)"
  (userClick) = "userClickedOnRecipe($event)"
>
</app-recipe-summary>